{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load toolbar_extras %}
{% load dashboard_extras %}
{% load sidebar_extras %}
{% load get_theme %}
{% load message_level %}
{% load user_extras %}
{% load thumbnail %}

{% block title %}{% trans "Selección de contrato" %}{% endblock %}

{% block body_class %}administration user-profile odoo user-contract{% endblock %}

{% block extra_scripts %}
    <script>
        function getContracts() {
            var contracts = '{{ contracts_json }}';
            contracts = contracts.replace(/&quot;/g, '"');
            var contracts_json = JSON.parse(contracts);
            return contracts_json;
        }

        function getProductHTML(data) {
            console.log(data);
            return jQuery(Handlebars.compile([
                '<tr class="products-table-row">'+
                    '<td class="products-table-cell product-accept">' +
                        '<input value="\{\{ id \}\}" ' +
                                'class="icheckbox_flat product-checkbox" ' +
                                'type="checkbox" checked>' +
                    '</td>' +
                    '<td class="products-table-cell product-name">' +
                        '\{\{ name \}\}' +
                    '</td>' +
                    '<td class="products-table-cell product-date">' +
                        '\{\{ date \}\}' +
                    '</td>' +
                    '<td class="products-table-cell product-amount">Q' +
                        '\{\{ amount \}\}' +
                    '</td>' +
                '</tr>'
            ].join(""))(data));
        }

        function showCurrentContract(contract) {
            var $table = jQuery('.products-table'),
                    products = contract.products,
                    $rows = jQuery('.products-table .products-table-row');
            console.log($rows);
            $rows.empty();
            for (var i = 0; i < products.length; i++) {
                $table.append(getProductHTML(products[i]));
            }
        }

        jQuery('#id_contract_id').change(function () {
            var $th = jQuery(this),
                    contract = contracts[$th[0].value];
            showCurrentContract(contract);
            //jQuery(".icheckbox_flat").hide().fadeIn('fast');
        });

        jQuery('#id_payments_responsible').change(function () {
            var th = this,
                username = th.value,
                $tutors = jQuery('.tutor-wrapper'),
                current_tutor, $tutor_badge;

            jQuery.get(
                    '{% url 'odoo-tutor-invoice' %}',
                    { username: username })
                .done(function(data) {
                    jQuery('#id_name').val(data.invoice_name);
                    jQuery('#id_nit').val(data.invoice_identifier);
                    jQuery('#id_phone').val(data.invoice_phone);
                    jQuery('#id_address').val(data.invoice_address);
                })
                .fail(function(error) {
                    console.log(error);
                });

            $tutors.each(function (i, tutor) {
                current_tutor = tutor.getAttribute('data-user');
                $tutor_badge = jQuery(tutor).find('.tutor-selected-badge');
                if (current_tutor === username && $tutor_badge.hasClass('hide')){
                    $tutor_badge.removeClass('hide');
                } else if (!$tutor_badge.hasClass('hide')){
                    $tutor_badge.addClass('hide');
                }
            });
        });

        jQuery('.tutor-toggle').click(function(){
            var $th = jQuery(this),
                $icon = $th.find('i'),
                $label = $th.find('span');

            if ($th.attr('data-enabled') === 'true'){
                $th.attr('data-enabled', 'false');
                $th.removeClass('active');

                if ($th.hasClass('tutor-sees-balance')){
                    $label.html(' No ve estado de cuenta');
                } else if ($th.hasClass('tutor-sees-payments')){
                    $label.html(' No recibe boletas de pago');
                }

                $icon.attr('class', 'icon icon-eye-slash');

            } else{
                $th.attr('data-enabled', 'true');
                $th.addClass('active');

                if ($th.hasClass('tutor-sees-balance')){
                    $label.html(' Ve estado de cuenta');
                } else if ($th.hasClass('tutor-sees-payments')){
                    $label.html(' Recibe boletas de pago');
                }

                $icon.attr('class', 'icon icon-eye');
            }
        });

        jQuery('#contract-form').submit(function() {
            var $pd = jQuery('#id_products'),
                $products = jQuery('.product-checkbox:checked'),
                $tv = jQuery('#id_tutors_visibility'),
                $tutors = jQuery('.tutor-wrapper'),
                tVal = "", pVal = "", $toggle;

            $products.each(function (i, product) {
                if (i !== 0){
                    pVal += ',';
                }
                pVal += product.value;
            });
            $pd.val(pVal);

            $tutors.each(function (i, tutor) {
                if (i !== 0){
                    tVal += ';';
                }
                tVal += tutor.getAttribute('data-user');
                $toggle = jQuery(tutor).find('.tutor-sees-balance');
                tVal += ',' + $toggle.attr('data-enabled');
                $toggle = jQuery(tutor).find('.tutor-sees-payments');
                tVal += ',' + $toggle.attr('data-enabled');
            });
            $tv.val(tVal);

            return true; // return false to cancel form action
        });

        jQuery(function () {
            var $tutor = jQuery('div.tutor-wrapper:first');
            $tutor.find('.tutor-selected-badge').removeClass('hide');
        });

        var contracts = getContracts();

    </script>
{% endblock %}

{% block content %}
    {% edoo_toolbar dashboard %}
    {% edoo_sidebar 'dashboard' %}

    <div class="content-viewport">
        <form method="POST" id="contract-form" action="{% url 'odoo-get-contract' username=user.username %}">
            {% csrf_token %}
            <div class="profile-header">
                <div class="user">
                    <div class="picture">
                        <div class="picture-container">

                            {% if user.profile_picture %}
                                {% thumbnail user.profile_picture "135x135" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            {% endif %}

                            <div class="veil"></div>
                        </div>

                    </div>


                    <div class="data">
                        <a class="name" href="{% url 'userprofile' username=user.username %}">
                            {{ user.formal_name }}
                        </a>

                        <div class="level">
                            {% if student_profile.level %}
                                {{ student_profile.level }}
                            {% else %}
                                {% trans "Estudiante" %}
                            {% endif %}
                        </div>

                        <div class="contract-selection form">
                            <div class="select-wrapper select-wrapper-small">
                                {{ contract_form.contract_id }}
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
            </div>

            <div class="container main-content contract-content">
                <div class="bubble">
                    <div class="form products-section">
                        {% csrf_token %}
                        <div class="inner-title">
                            <h2>
                                <img src="{% static 'images/logo_dark.png' %}" width="140" height="35" alt="logo">
                                <i class="icon icon-chevron-right icon-products-header"></i>
                                <img src="{% static 'images/odoo-logo.png' %}" width="95" height="30" alt="logo" class="products-odoo-logo">
                            </h2>

                            <div class="main-action">
                                <a class="button button-small" id="edit-basic-information-tutor"><i class="icon icon-print"></i> {% trans "Imprimir Contrato" %}</a>
                            </div>

                        </div>

                        <hr>

                        <table class="data-table products-table">
                            <tr>
                                <th class="products-table-tittle"></th>
                                <th class="products-table-tittle">{% trans "Concepto" %}</th>
                                <th class="products-table-tittle">{% trans "Fecha" %}</th>
                                <th class="products-table-tittle">{% trans "Total" %}</th>
                            </tr>

                            {{ contract_form.products }}
                            {% for product in products %}
                                <tr class="products-table-row">
                                    <td class="products-table-cell product-accept">
                                        <input value="{{ product.id }}"
                                               class="product-checkbox"
                                               type="checkbox" checked>
                                    </td>
                                    <td class="products-table-cell product-name">
                                        {{ product.name }}
                                    </td>
                                    <td class="products-table-cell product-date">
                                        {{ product.date }}
                                    </td>
                                    <td class="products-table-cell product-amount">
                                        Q{{ product.amount }}
                                    </td>
                                </tr>

                            {% empty %}
                                <div class="no-results no-results-horizontal no-results-small" style="padding-left:130px;">

                                </div>
                            {% endfor %}

                        </table>

                    </div>
                </div>

                <div class="form tutor-selection">
                    <div class="select-wrapper">
                        <label for="id_payments_responsible">Responsable de Pagos</label>
                        {{ contract_form.payments_responsible }}
                    </div>

                    <div class="label-invoice">
                        <label>Datos de Facturación</label>
                    </div>

                </div>

                <div class="bubble invoice-section">

                    <div class="form invoice-info">

                        <div class="panel-row">
                            <div class="invoice-input-panel">
                                <label class="invoice-info-label">{{ contract_form.name.label }}</label>

                                <div class="input-wrapper placeholded">
                                    {{ contract_form.name }}
                                    {{ contract_form.name.errors }}
                                </div>
                            </div>

                            <div class="invoice-input-panel">
                                <label class="invoice-info-label">{{ contract_form.nit.label }}:</label>

                                <div class="input-wrapper placeholded">
                                    {{ contract_form.nit }}
                                    {{ contract_form.nit.errors }}
                                </div>
                            </div>

                            <div class="invoice-input-panel">
                                <label class="invoice-info-label">{{ contract_form.phone.label }}:</label>

                                <div class="input-wrapper placeholded">
                                    {{ contract_form.phone }}
                                    {{ contract_form.phone.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="panel-row">
                            <div class="full-panel">
                                <label class="invoice-info-label">{{ contract_form.address.label }}:</label>
                                <div class="input-wrapper area placeholded">
                                    {{ contract_form.address }}
                                    {{ contract_form.address.errors }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="tutors-section">

                    <div class="form tutors-container">
                        <div class="label-invoice">
                            <label>Tutores Asignados</label>
                        </div>
                        {{ contract_form.tutors_visibility }}
                        {% for tutor in student_tutors %}

                            <div class="user-card compress tutor-wrapper show" data-user="{{ tutor.user.username }}">

                                <div class="user-widget-container tutor-header">
                                    {% if tutor.user.profile_picture %}
                                        <a href="{% url "tutorprofile" username=tutor.user.username %}">
                                            <img class="picture" src="{{ tutor.user.profile_picture.url }}">
                                        </a>

                                    {% endif %}

                                    <div class="data">
                                        <div class="name">{{ tutor.user.formal_name }}</div>
                                        <div class="extra-data">
                                            <div>{{ tutor.user.email }}</div>
                                            <div class="tutor-selected-badge hide" data-enabled="true">
                                                <i class="icon icon-star"></i>
                                                <span> Encargado Académico</span></div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="tutor-options">

                                    <div class="tutor-responsible"></div>

                                    <a class="tutor-toggle tutor-sees-balance active" data-enabled="true">
                                        <i class="icon icon-eye"></i>
                                        <span> Ve estado de cuenta</span></a>

                                    <a class="tutor-toggle tutor-sees-payments" data-enabled="false">
                                        <i class="icon icon-eye-slash"></i>
                                        <span> No recibe boletas de pago</span></a>

                                </div>

                            </div>
                        {% empty %}
                            <div class="no-results no-results-horizontal no-results-small" style="padding-left:130px;">
                                <img style="margin-top:10px;" src="{% static 'images/placeholders/users_icon.png' %}" width="109" height="100">
                                <div class="no-results-title">
                                    {% blocktrans with tname=user.first_name %}
                                        <strong>{{ tname }}</strong> no tiene tutores asignados.
                                    {% endblocktrans %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <hr>

                <div class="center-text">
                    <button type="submit" class="button button-primary to-load">{% trans 'Crear contrato' %}</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}
